.card {
    margin: 10px;
    min-width: 220px;
    min-height: 330px;
    position: relative;
    border: #252628;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.rating {
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #252628;
    padding: 5px 10px;
    border-radius: 5px;
}

.lessThan10 {
    background-color: orange;
}

.lessThan8 {
    background-color: green;
}

.lessThan7 {
    background-color: gray;
}

.lessThan5 {
    background-color: red;
}